#del_all_body_real{
    text-align: center;
    font-family: Verdana;
    background-image: linear-gradient(to left, darkblue, blue, rgb(13, 163, 223), cyan);
}
button{
    font-size: 1em;
    background-color: rgb(11, 231, 11);
    cursor: pointer;
    padding: 15px;
    border: 5px solid rgb(111, 0, 255);
}
button:hover{
    background-color: rgb(3, 129, 10);
}
button:active{
    background-color: yellowgreen;
}
#del_all_body{
    background-image: linear-gradient(to right, red, orange);
    margin-top: 4em;
    margin-right: 21em;
    margin-left: 21em;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
}
#del_all_console{
    font-size: 1.25em;
    background-color: white;
    border: 1px solid black;
    margin-top: 4em;
    margin-left: 7em;
    margin-right: 7em;
    min-height: 9vh;
}
#del_all_sure{
    background-color: magenta;
    margin-top: 225px;
    min-height: 40vh;
}
#del_all_yes{
    margin-top: 2em;
    background-color: rgb(5, 187, 44);
}
#del_all_no{
    margin-top: 2em;
    background-color: rgb(235, 9, 9);
}
#del_all_close{
    margin-top: 2em;
    background-color: rgb(228, 158, 8);
}