#del_spec_body_real{
    background-image: linear-gradient(to left, darkgreen, green, rgb(0, 255, 0), greenyellow);
    text-align: center;
    font-family: Verdana;
}
button{
    font-size: 1em;
    background-color: rgb(11, 231, 11);
    cursor: pointer;
    padding: 15px;
    border: 5px solid rgb(111, 0, 255);
}
button:hover{
    background-color: rgb(3, 129, 10);
}
button:active{
    background-color: yellowgreen;
}
input{
    font-size: 1.25em;
    padding: 10px;
    margin-top: 1em;
    border: 2px solid rgb(0, 0,7);
}
#del_spec_console_1{
    background-color: whitesmoke;
    min-height: 8vh;
    margin-left: 5em;
    margin-right: 5em;
    border: 2px solid rgb(0, 0,7);
    font-size: 1.25em;
}
#del_spec_console_2{
    background-color: whitesmoke;
    min-height: 8vh;
    margin-left: 5em;
    margin-right: 5em;
    border: 2px solid rgb(0, 0,7);
    font-size: 1.25em;
}
#del_spec_body_1{
    background-image: linear-gradient(to right, rgb(5, 153, 190), rgb(5, 53, 209));
    margin-top: 4em;
    margin-left: 21em;
    margin-right: 21em;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
}
#del_spec_body_2{
    background-image: linear-gradient(to right, rgb(5, 153, 190), rgb(5, 53, 209));
    margin-top: 4em;
    margin-left: 21em;
    margin-right: 21em;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
}
#del_spec_console{
    font-size: 1.25em;
    background-color: white;
    border: 1px solid black;
    margin-left: 7em;
    margin-right: 7em;
    min-height: 9vh;
}
dialog{
    background-color: magenta;
    margin-top: 225px;
    min-height: 40vh;
}
#del_spec_yes_1{
    margin-top: 2em;
    background-color: rgb(5, 187, 44);
}
#del_spec_no_1{
    margin-top: 2em;
    background-color: rgb(235, 9, 9);
}
#del_spec_close_1{
    margin-top: 2em;
    background-color: rgb(228, 158, 8);
}
#del_spec_yes_2{
    margin-top: 2em;
    background-color: rgb(5, 187, 44);
}
#del_spec_no_2{
    margin-top: 2em;
    background-color: rgb(235, 9, 9);
}
#del_spec_close_2{
    margin-top: 2em;
    background-color: rgb(228, 158, 8);
}