body{
    text-align: center;
    background-image: linear-gradient(to left, rgb(255, 12, 12), rgb(243, 62, 7) ,rgb(255, 94, 0), rgb(255, 187, 0));
    font-family: Verdana;
}
#view_spec_body_1{
    background-image: linear-gradient(to right, rgb(15, 133, 15), rgb(52, 209, 5));
    margin-top: 4em;
    margin-left: 21em;
    margin-right: 21em;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
}
#view_spec_body_2{
    background-image: linear-gradient(to right, rgb(15, 133, 15), rgb(52, 209, 5));
    margin-top: 4em;
    margin-left: 21em;
    margin-right: 21em;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
}
button{
    font-size: 1em;
    background-color: rgb(11, 231, 11);
    cursor: pointer;
    padding: 15px;
    border: 5px solid rgb(111, 0, 255);
}
button:hover{
    background-color: rgb(3, 129, 10);
}
button:active{
    background-color: yellowgreen;
}
input{
    font-size: 1.25em;
    padding: 10px;
    margin-top: 1em;
    border: 2px solid rgb(0, 0,7);
}
#view_spec_console_1{
    background-color: whitesmoke;
    min-height: 8vh;
    margin-left: 5em;
    margin-right: 5em;
    border: 2px solid rgb(0, 0,7);
    font-size: 1.25em;
}
#view_spec_console_2{
    background-color: whitesmoke;
    min-height: 8vh;
    margin-left: 5em;
    margin-right: 5em;
    border: 2px solid rgb(0, 0,7);
    font-size: 1.25em;
}