body{
    text-align: center;
    font-family: Verdana;
    background-image: linear-gradient(to left, red, purple, rgb(221, 13, 127), pink);
}
/* Option 1: Remove trailing comma (simple 2-color gradient) */
#view_all_body{
    background-image: linear-gradient(to right, rgb(3, 224, 231), rgb(9, 231, 94));
    margin-top: 4em;
    margin-left: 20em;
    margin-right: 20em;
    min-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
}
button{
    font-size: 1em;
    background-color: rgb(11, 231, 11);
    border: 5px solid rgb(111, 0, 255);
    cursor: pointer;
    padding: 15px;
}
button:hover{
    background-color: rgb(3, 129, 10);
}
button:active{
    background-color: yellowgreen;
}
#view_all_result{
    background-color: whitesmoke;
    margin-top: 1em;
    margin-right: 4em;
    margin-left: 4em;
    min-height: 5vh;
    border: 2px solid rgb(0, 0,7);
}